* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    
}

h1 {
    color: black;
    text-align: center;
    line-height: 1.5;
   
    
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-right: 50px;
}

.nav__link-list {
    display: flex;
    
    }
.nav__header {
 display: flex;
 
    
    }


.logo__treact {
    width: 40px;
}

header {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav__link--anchor {
    margin: 0 24px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 0 0 4px;
    }

    .nav__link--special {
        padding: 0 0 4px;
        margin: 0 24px 0 48px;
    }

    .nav__link--special2 {
        padding: 12px 32px;
        letter-spacing: 0.025em

    }

    .nav__link--anchor2 {
        color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 9999px;
    background-color:#6415ff;
    color: white;
    

    }

    .firstcolumn__header {
        display: flex;
        flex-direction: column;
        width: 40%;
      padding-top: 60px;
    }

    .header__text--word {
        font-size: 36px;
        
    
    }

    .our__templates--header {
        padding: 12px 12px;
        
    }

    .photo__header--main {
        display: flex;
        flex-direction: column;
        width: 60%;
       
}

.subheader {
    font-size: 16px;
    margin: 16px 0 24px 0;

}

.logo__text--nav {
    padding: 6px;
}

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    

}

.container {
    padding: 80px 0;

}

.row__features{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    

}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100% / 3);
}

.service__description {
display: flex;
flex-direction: column;
width: calc(100%/3px);
}

.features {
    align-items: center;
    justify-content: center;
}

